In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
alco_data = pd.read_csv(r"C:\Users\Kranthi Kiran\Desktop\data-analytics\data\cardio_alco.csv", delimiter= ";")

In [3]:
alco_data.head()

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0

In [4]:
base_data = pd.read_csv(r"C:\Users\Kranthi Kiran\Desktop\data-analytics\data\cardio_base.csv")

In [5]:
base_data.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [12]:
(base_data['weight'].mean() - base_data['weight'].min())/base_data['weight'].mean()

0.8652394445762852

In [21]:
copy = base_data

In [25]:
copy['age'] = copy['age']*365

In [27]:
copy['age'] = np.round(copy['age'],decimals=2)

In [37]:
copy.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  50.39       2     168    62.0    110     80            1      0
1   1  55.42       1     156    85.0    140     90            3      0
2   2  51.66       1     165    64.0    130     70            3      0
3   3  48.28       2     169    82.0    150    100            1      0
4   4  47.87       1     156    56.0    100     60            1      0

In [39]:
copy.groupby(['gender','smoke']).size()
# gender 1 - women
# gender 2 -men

gender  smoke
1       0        44717
        1          813
2       0        19114
        1         5356
dtype: int64

In [41]:
5356/813

6.587945879458794

In [42]:
copy.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  50.39       2     168    62.0    110     80            1      0
1   1  55.42       1     156    85.0    140     90            3      0
2   2  51.66       1     165    64.0    130     70            3      0
3   3  48.28       2     169    82.0    150    100            1      0
4   4  47.87       1     156    56.0    100     60            1      0

In [44]:
copy.sort_values(by=['height'], ascending=False)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
6486    9223  58.14       1     250    86.0    140    100            3      0
21628  30894  52.20       2     207    78.0    100     70            1      0
41901  59847  52.57       2     200   100.0    170   1100            2      0
8897   12687  61.64       2     198    79.0    160    100            1      1
30127  43083  63.76       1     198    85.0    110     90            1      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
27603  39462  57.47       1      64    61.0    130     70            1      0
29157  41661  52.30       1      60    69.0    110     70            1      0
64115  91523  50.48       1      59    57.6    125     67            1      0
66643  95141  51.59       1      57    61.0    130     90            1      0
22723  32456  64.07       1      55    81.0    130     90            1      0

[70000 rows x 9 columns]

In [46]:
copy.nlargest(700, ['height']).min()

id              81.00
age             39.29
gender           1.00
height         184.00
weight          50.00
ap_hi           11.00
ap_lo           60.00
cholesterol      1.00
smoke            0.00
dtype: float64

In [47]:
copy.nlargest(700, ['height']).max()

id             99862.00
age               64.68
gender             2.00
height           250.00
weight           200.00
ap_hi            210.00
ap_lo          10000.00
cholesterol        3.00
smoke              1.00
dtype: float64

In [49]:
copy.corr(method='spearman')

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke
id,1.000000,0.002682,0.003506,-0.001886,-0.001292,0.003258,-0.000238,0.005706,-0.003697
age,0.002682,1.000000,-0.020177,-0.082292,0.061555,0.219086,0.156697,0.140117,-0.047470
gender,0.003506,-0.020177,1.000000,0.533805,0.172480,0.063174,0.066374,-0.035730,0.338135
height,-0.001886,-0.082292,0.533805,1.000000,0.313569,0.019381,0.030534,-0.058940,0.197632
weight,-0.001292,0.061555,0.172480,0.313569,1.000000,0.277749,0.254420,0.137908,0.071676
ap_hi,0.003258,0.219086,0.063174,0.019381,0.277749,1.000000,0.735436,0.208722,0.028929
ap_lo,-0.000238,0.156697,0.066374,0.030534,0.254420,0.735436,1.000000,0.167401,0.026172
cholesterol,0.005706,0.140117,-0.035730,-0.058940,0.137908,0.208722,0.167401,1.000000,0.015220
smoke,-0.003697,-0.047470,0.338135,0.197632,0.071676,0.028929,0.026172,0.015220,1.000000

In [53]:
np.mean(copy['height'])+2*np.std(copy['height'])

180.77936401256645

In [54]:
count = [x for x in copy['height'] if x > 180.77936401256645]

In [55]:
len(count)

1439

In [57]:
1439/70000*100

2.0557142857142856

In [58]:
result = pd.merge(alco_data, copy, on=["id"])

In [97]:
result.describe()

,id,alco,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke
count,56903.000000,56903.000000,56903.000000,56903.000000,56903.000000,56903.000000,56903.000000,56903.000000,56903.000000
mean,48472.162065,0.053442,1.350667,164.356027,74.163482,129.002408,96.752350,1.367872,0.088554
std,30994.121701,0.224915,0.477183,8.215067,14.381791,160.259577,189.390334,0.680889,0.284102
min,44.000000,0.000000,1.000000,55.000000,10.000000,-140.000000,-70.000000,1.000000,0.000000
25%,20401.000000,0.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,0.000000
50%,40763.000000,0.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,0.000000
75%,77109.500000,0.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,0.000000
max,99954.000000,1.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,1.000000

In [89]:
result2 = result

In [90]:
result2['age'] = result2['age']>50

In [92]:
result2.shape

(56903, 10)

In [93]:
result2.groupby(['age','alco']).size()

age    alco
False  0       16333
       1        1088
True   0       37529
       1        1953
dtype: int64

In [95]:
1953/(1953+37529)*100

4.946557925130439

In [96]:
result2.groupby(['gender','ap_hi']).size()

gender  ap_hi
1       -140      1
        -100      2
         1        1
         7        1
         10       6
                 ..
2        1400     1
         1409     1
         1620     1
         11020    1
         14020    2
Length: 250, dtype: int64

In [99]:
result2.groupby(['smoke','weight']).size()

smoke  weight
0      10.0      1
       21.0      1
       23.0      1
       29.0      1
       30.0      3
                ..
1      154.0     1
       158.0     1
       168.0     1
       170.0     2
       178.0     1
Length: 374, dtype: int64

In [100]:
result2.groupby(['smoke','ap_hi']).size()

smoke  ap_hi
0      -140      1
       -120      2
       -115      1
       -100      2
        1        1
                ..
1       190     13
        195      1
        200     21
        210      4
        220      2
Length: 216, dtype: int64

In [ ]:
result2.groupby(['age','alco']).size()

In [86]:
result2['age'] = result['age'] >= 50

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [6]:
covid_data = pd.read_csv(r"C:\Users\Kranthi Kiran\Desktop\data-analytics\data\covid_data.csv")

In [7]:
covid_data.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [111]:
covid_copy = covid_data

In [118]:
covid_copy.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,death_rate
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5,0.0
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5,0.0
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5,0.0
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5,0.0
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5,0.0

In [117]:
covid_copy['death_rate'] = covid_copy['new_deaths']/1000000

In [121]:
covid_copy.nlargest(3, ['death_rate'])

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,death_rate
22962,World,2020-04-16,79748,10520,7.794799e+09,8.696,15469.207,2.705,0.010520
22963,World,2020-04-17,82962,8709,7.794799e+09,8.696,15469.207,2.705,0.008709
22964,World,2020-04-18,81894,8568,7.794799e+09,8.696,15469.207,2.705,0.008568

In [123]:
covid_copy.groupby(['hospital_beds_per_thousand','gdp_per_capita']).